services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      REDIS_ADDR: "redis:6379"
    volumes:
      - ./frontend:/app/frontend
    depends_on:
      - redis

  redis:
    image: redis:alpine